<p style="color: green"><%= notice %></p>

<%= render @monster_drop %>

<div>
  <%= link_to "Edit this monster drop", edit_monster_drop_path(@monster_drop) %> |
  <%= link_to "Back to monster drops", monster_drops_path %>

  <%= button_to "Destroy this monster drop", @monster_drop, method: :delete %>
</div>
