<p style="color: green"><%= notice %></p>

<%= render @material_location %>

<div>
  <%= link_to "Edit this material location", edit_material_location_path(@material_location) %> |
  <%= link_to "Back to material locations", material_locations_path %>

  <%= button_to "Destroy this material location", @material_location, method: :delete %>
</div>
