<div id="<%= dom_id monster %>">
  <p>
    <strong>Name:</strong>
    <%= monster.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= monster.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= monster.image_url %>
  </p>

  <p>
    <strong>Dlc:</strong>
    <%= monster.dlc %>
  </p>

</div>
