<div id="<%= dom_id equipment %>">
  <p>
    <strong>Name:</strong>
    <%= equipment.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= equipment.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= equipment.image_url %>
  </p>

  <p>
    <strong>Dlc:</strong>
    <%= equipment.dlc %>
  </p>

</div>
