<div class="col-full col-sm-half col-md-third col-lg-fourth entry-container">
  <div class="entry-wrapper">
  <a href="<%= equipment_path(equipment) %>" style="text-decoration: none; color: inherit;">
    <div class="row">
      <div class="col-img">
        <div class="col-img-wrapper">
          <img src="<%= equipment.image_url %>" class="block" alt="<%= equipment.name %>">
        </div>
      </div>
      <div class="col-name">
        <div class="col-name-wrapper">
          <h3 class="text-gold"><%= equipment.name %></h3>
          <p class="text-blue"><%= equipment.id %></p>
        </div>
      </div>
    </div>
  </div>