<div class="item-container">
  <div class="compendium">
    <table>
      <tbody>
        <tr>
          <td class="item-id-name" rowspan="2" colspan="1">
            <p class="text-gold"><span class="text-blue"><%= @equipment.id %></span> <%= @equipment.name %></p>
            <% if @equipment.image_url.present? %>
              <div class="image-container">
                <a href="<%= @equipment.image_url %>" title="<%= @equipment.name %>">
                  <img src="<%= @equipment.image_url %>" class="item-img" />
                </a>
              </div>
            <% end %>
          </td>
          <td class="description-cell" rowspan="1" colspan="1">
            <div class="compendium-heading">
              <div>
                <span class="text-gold"><b>Description</b></span>
              </div>
            </div>
            <p class="text-blue font-arial"><%= @equipment.description %></p>
          </td>
        </tr>
        <tr>
          <td class="locations-cell" rowspan="1" colspan="1">
            <div class="compendium-heading">
              <div>
                <span class="text-gold"><b>Common Locations</b></span>
              </div>
            </div>
            <% if @equipment.equipment_locations.any? %>
              <div>
                <% @equipment.equipment_locations.each do |equipment_location| %>
                  <p class="text-blue font-arial"><%= equipment_location.location.name %></p>
                <% end %>
              </div>
            <% else %>
              <p class="text-blue font-arial">No locations available for this equipment.</p>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="drops-cell" rowspan="1" colspan="2">
            <div class="compendium-heading">
              <div>
                <span class="text-gold"><b>Stats</b></span>
              </div>
            </div>
            <% if @equipment.equipment_properties.any? %>
              <div>
                <% unique_properties = @equipment.equipment_properties.uniq { |p| [p.attack, p.defense] } %>
                <% unique_properties.each do |property| %>
                  <p class="text-blue font-arial"><strong>Attack:</strong> <%= property.attack.nil? ? 'N/A' : property.attack %> |
                  <strong>Defense:</strong> <%= property.defense.nil? ? 'N/A' : property.defense %><p>
                <% end %>
              </div>
            <% else %>
              <p class="text-blue font-arial">No stats available for this equipment.</p>
            <% end %>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<div class= "back-link-wrapper">
  <div class= "back-link">
    <%= link_to 'Back', equipment_index_path, class: 'back-link-page' %>
  </div>
</div>
