<div id="<%= dom_id creature %>">
  <p>
    <strong>Name:</strong>
    <%= creature.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= creature.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= creature.image_url %>
  </p>

  <p>
    <strong>Edible:</strong>
    <%= creature.edible %>
  </p>

  <p>
    <strong>Hearts recovered:</strong>
    <%= creature.hearts_recovered %>
  </p>

  <p>
    <strong>Cooking effect:</strong>
    <%= creature.cooking_effect %>
  </p>

  <p>
    <strong>Dlc:</strong>
    <%= creature.dlc %>
  </p>

</div>
