<p style="color: green"><%= notice %></p>
<h1><%= @creature.name %></h1>

<p><%= @creature.description %></p>

<% if @creature.image_url.present? %>
  <p>
    <img src="<%= @creature.image_url %>" alt="<%= @creature.name %>" />
  </p>
<% end %>

<p><strong>DLC:</strong> <%= @creature.dlc ? 'Yes' : 'No' %></p>

<h2>Locations</h2>
<% if @creature.creature_locations.any? %>
  <ul>
    <% @creature.creature_locations.each do |creature_location| %>
      <li><%= creature_location.location.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No locations available for this creature.</p>
<% end %>

<h2>Drops</h2>
<% if @creature.creature_drops.any? %>
  <ul>
    <% @creature.creature_drops.each do |creature_drop| %>
      <li><%= creature_drop.drop.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No drops available for this creature.</p>
<% end %>

<%= link_to 'Back', creatures_path %>