<div class="home-container">
  <h1>The Legend of Zelda: Breath of the Wild - Compendium</h1>
  <div class="home-wrapper">
    <h3>Features</h3>
    <ul class="text-gold">
      <li>Browse and search through categories: <%= link_to 'Creatures', creatures_path, class: "nav-link-page" %>, <%= link_to 'Monsters', monsters_path, class: "nav-link-page" %>, <%= link_to 'Materials', materials_path, class: "nav-link-page" %>, <%= link_to 'Equipment', equipment_index_path, class: "nav-link-page" %>, and <%= link_to 'Treasures', treasures_path, class: "nav-link-page" %>.</li>
      <li>To Search enitre Compendium: <%= link_to 'Sheikah Eye', search_path, class: "nav-link-page" %>  top right </li>
    </ul>
  </div>
</div>