<%= form_with(model: equipment_property) do |form| %>
  <% if equipment_property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(equipment_property.errors.count, "error") %> prohibited this equipment_property from being saved:</h2>

      <ul>
        <% equipment_property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :equipment_id, style: "display: block" %>
    <%= form.text_field :equipment_id %>
  </div>

  <div>
    <%= form.label :attack, style: "display: block" %>
    <%= form.number_field :attack %>
  </div>

  <div>
    <%= form.label :defense, style: "display: block" %>
    <%= form.number_field :defense %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
