<p style="color: green"><%= notice %></p>

<%= render @monster_location %>

<div>
  <%= link_to "Edit this monster location", edit_monster_location_path(@monster_location) %> |
  <%= link_to "Back to monster locations", monster_locations_path %>

  <%= button_to "Destroy this monster location", @monster_location, method: :delete %>
</div>
