<div id="<%= dom_id material %>">
  <p>
    <strong>Name:</strong>
    <%= material.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= material.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= material.image_url %>
  </p>

  <p>
    <strong>Hearts recovered:</strong>
    <%= material.hearts_recovered %>
  </p>

  <p>
    <strong>Cooking effect:</strong>
    <%= material.cooking_effect %>
  </p>

  <p>
    <strong>Dlc:</strong>
    <%= material.dlc %>
  </p>

</div>
