<div id="<%= dom_id treasure %>">
  <p>
    <strong>Name:</strong>
    <%= treasure.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= treasure.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= treasure.image_url %>
  </p>

  <p>
    <strong>Dlc:</strong>
    <%= treasure.dlc %>
  </p>

</div>
