<p style="color: green"><%= notice %></p>

<%= render @creature_location %>

<div>
  <%= link_to "Edit this creature location", edit_creature_location_path(@creature_location) %> |
  <%= link_to "Back to creature locations", creature_locations_path %>

  <%= button_to "Destroy this creature location", @creature_location, method: :delete %>
</div>
